@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');
@import url('fontawesome-all.min.css');
*, html{
  padding:0; margin:0;
  box-sizing:border-box;
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;

}
a:active {
  color: red;
}
body {
  font-family:'Open Sans';
  box-sizing:border-box;
  background: #f8f8f8;
  font-size:14px;
  padding-right:0!important;
  height: 100%;
}


input[type="text"], input[type="email"], input[type="search"], 
input[type="date"], input[type="time"], input[type="file"], 
textarea, button, input[type="password"], input[type="tel"], 
select {
  -webkit-appearance:none!important;
  -moz-appearance:none!important;
  appearance:none!important;
  box-shadow:none!important;
  border-radius:2px;
}
a, input, button, a:focus, input:focus, button:focus {outline:none!important; box-shadow:none!important;}
:focus {outline: -webkit-focus-ring-color auto 0px!important;}
img{max-width:100%;}
li{list-style-type:none;}

.btnGreen{background:#28c3b3!important;border-color:#28c3b3;color:#fff!important;}
.btnGray{background:#9c9c9c!important;border-color:#9c9c9c;color:#fff!important;}
.btn.btnLarge{min-height:50px;font-size:16px;}


.tableAlignMiddle td,.tableAlignMiddle th{vertical-align:middle!important;}
.tableCellpadding  td{padding:8px!important;}
/*Start Checkbox design*/
.checkbox-design {position:relative; padding-left:22px; cursor:pointer; font-weight:500!important; color:#686868!important;font-size:13px;}
.checkbox-design a{color:#535f66!important;text-decoration:underline;}
.checkbox-design input[type="checkbox"]{opacity:0; position:absolute; left:0; top:0;}
.checkbox-design input[type="checkbox"] ~ span{position:absolute; left:0px; top:1px; width:16px; height:16px; border:1px solid #e1e1e1; background:#fff; border-radius:2px;}
.checkbox-design input[type="checkbox"]:checked ~ span{/* border:1px solid #fff; background:#333; */ border-radius:2px;}
.checkbox-design input[type="checkbox"] ~ span:before{opacity:0; content:''; position:absolute; left:4px; top:0px; width:6px; height:10px; border-right:2px solid #b5265c; border-bottom:2px solid #b5265c; -webkit-transition: all 0.2s linear; transition: all 0.2s linear; transform:rotate(0deg) scale(0); -webkit-transform:rotate(0deg) scale(0); -ms-transform:rotate(0deg) scale(0);}
.checkbox-design input[type="checkbox"]:checked ~ span:before {opacity:1; transform:rotate(45deg) scale(1); -webkit-transform:rotate(45deg) scale(1); -ms-transform:rotate(45deg) scale(1);}

.checknew-design {position:relative; padding-left:15px; padding-right:2px; cursor:pointer; font-weight:500; font-size:10px; color:#d8d8d8!important;}
.checknew-design input[type="checkbox"]{opacity:0; position:absolute; left:0; top:0;}
.checknew-design input[type="checkbox"] ~ span{position:absolute; left:0px; top:0px; width:12px; height:11px; border:1px solid #2ebe93; background:#018a61; border-radius:2px;}
.checknew-design input[type="checkbox"] ~ span:before{opacity:0; content:''; position:absolute; left:3px; top:0px; width:4px; height:7px; border-right:1px solid #d8d8d8; border-bottom:1px solid #d8d8d8; -webkit-transition: all 0.2s linear; transition: all 0.2s linear; transform:rotate(0deg) scale(0); -webkit-transform:rotate(0deg) scale(0); -ms-transform:rotate(0deg) scale(0);}
.checknew-design input[type="checkbox"]:checked ~ span:before {opacity:1; transform:rotate(45deg) scale(1); -webkit-transform:rotate(45deg) scale(1); -ms-transform:rotate(45deg) scale(1);}
/*End Checkbox design*/

.redio-design {position:relative; padding-left:20px; padding-right:2px; cursor:pointer; font-weight:600; font-size:12px; color:#d8d8d8!important;}
.redio-design input[type="radio"]{opacity:0; position:absolute; left:0; top:0;}
.redio-design input[type="radio"] ~ span{position:absolute; left:0px; top:1px; width:14px; height:14px; border-radius:100%; border:1px solid #2ebe93;}
.redio-design input[type="radio"] ~ span:before{opacity:0; content:''; position:absolute; left:1px; top:1px; width:10px; height:10px; background:#2ebe93; border-radius:100%; -webkit-transition: all 0.2s linear; transition: all 0.2s linear; transform:scale(0); -webkit-transform:scale(0); -ms-transform:scale(0);}
.redio-design input[type="radio"]:checked ~ span:before {opacity:1; transform:scale(1); -webkit-transform:scale(1); -ms-transform:scale(1);}
.decorationNone{text-decoration:none!important;}
.center-box{margin:0 auto;}
/* ================Global Style End=================== */

.container-common{width:100%; max-width:1360px; margin:0 auto;}

body.logged{background:white;}
header{background:#232730; width:100%; padding:0px; height:90px; border-bottom: 1px solid #ddd; position:relative;}
header.header-bg, header.header-inner{background:rgba(265,265,265,0.9);}
body.modal-open header {width: calc(100% - 17px);}
body.exchange-body{background:#27a57f;}
body.exchange-body.white{background:#fff;}
header.loged{padding-right:380px;}
header nav.navbar{padding:0px;position:relative;width: 100%;}
.logo.navbar-brand {
  max-width:85px; height: auto; padding-top: 0px; padding-left: 0px; padding-bottom: 0; margin: 0; display: block; transition: 0.5s; background: #fff; padding: 5px; border: none; position: relative; top: 15px; box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2)!important;
}
.menu_toggle_box{
  position:absolute; left:0; top:0; width:70px; height:100%; text-align:center; display:flex; align-items:center; justify-content:center; background-color:#28c3b3; opacity:0; visibility:hidden; backface-visibility:hidden;
}
.menu_toggle_box .btn-menu{
  border:none; border-radius:0; font-size:24px; background:transparent; color:#fff;
}

.user_top_box {font-size:13px;color:#727272;height:60px;padding:20px 0 0 55px;position:relative;font-family:arial;display:inline-block;vertical-align: middle;}
/* .user_top_box span {position:absolute;left:10px; top:20px;font-weight:600;} */
.user_top_box strong {width:100%;display:inline-block;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;font-weight:600;color:#fff;}
.user_top_box img {width:45px;height:45px;position:absolute;left:0px;top:7px;border-radius:100%;}

.user_top_box .dropdown-menu {
    padding: 10px 0;
    background-color: #fff;
    right:0px;
    left: auto;
    top: 49px;
    width: 230px;
    border: none;
    box-shadow: 0 4px 20px #ddd;
}

.user_top_box .dropdown-menu .dropdown-item {color:#45464b!important;font-size:14px;display:block;font-weight:500;text-decoration:none!important;
padding:7px 15px;font-weight:500;background:transparent!important;border-bottom:1px solid #ddd;}
.user_top_box .dropdown-menu .dropdown-item:last-child{border:0;}
.user_top_box .dropdown-menu .dropdown-item.active,
/* .user_top_box .dropdown-menu .dropdown-item:hover,
.user_top_box .dropdown-menu .dropdown-item:focus {color:#fff;background-color:rgba(86, 21, 45, 0.12);} */
/* .user_top_box .dropdown-menu:after {
content: "";
border-left: 10px solid transparent;
border-right: 10px solid transparent;
border-bottom: 10px solid #b5265c;
position: absolute;
right: 2px
top: -10px;
} */

.dropDownProfileBox{padding:15px 15px 8px 15px;}
.user_top_box .profileimgCircle{margin-bottom:15px;display:inline-block;}
.user_top_box .profileimgCircle img{width:60px;height:60px;position:static;}
.dropDownProfileBox h4{font-size:18px;font-weight:600;margin:0 0 7px;line-height:1;}
.dropDownProfileBox p{margin:0;}
.content-wrapper{min-height: calc(100vh - 80px);position:relative;padding-top:60px;padding-bottom:62px;height: 100%;}
.login-main-block {margin-bottom:100px;}
.login-body { background: #fff; box-shadow:0 4px 20px #ddd; border-radius:6px; }
.nav-tabs.navStyle1 .nav-link{color:#474749;font-size:14px;font-weight:600;padding:1.5rem 8px;border-radius:none;border:none;border-bottom:2px solid transparent;}
.nav-tabs.navStyle1 .nav-link.active ,
.nav-tabs.navStyle1 .nav-link:hover,
.nav-tabs.navStyle1 .nav-link:focus{border-bottom-color:#28c3b3;background:transparent;color:#28c3b3;}
.nav-tabs.navStyle1 .nav-link i{position:relative;margin-right:7px;}
.nav-tabs.navStyle1 .nav-link .dot { position: absolute; top: -9px; right: -3px; }

.login-body .tab-content {padding:30px 20px;}
.commonForm .form-control{ background:#f8f8f8; height:50px; border: 1px solid #ccc; color:#727272; font-size:14px; font-family: arial; }
.commonForm .form-control::-webkit-input-placeholder {color:#b0aebb;}
.commonForm .form-control::-moz-placeholder {color:#b0aebb;}
.commonForm .form-control:-ms-input-placeholder {color:#b0aebb;}
.commonForm .form-control:-moz-placeholder {color:#b0aebb;}

.signUpPoints{margin:0 0 30px;padding-left:15px;}
.signUpPoints li{color:#b0aebb;font-size:14px;font-family:arial;list-style-type:disc;}
.signUpPoints li + li{margin-top:7px;}
.forgotLink{color:#28c3b3!important;display:inline-block;font-weight:600;}
.forgotLink i{margin-right:5px;}
.projectInfo{text-align:center;}
.projectInfo h4{margin:0 0 15px;font-weight:600;color:#45464b;font-size:18px;}
.projectInfo p{margin:0;color:#727272;}

/* ============Dashboard============ */
h1,h2,h3,h4,h5,h6{font-weight:600;}
.MainTopTab{margin-bottom:30px;}
.fullNavWrapper{border-bottom:1px solid #ddd;}
.fullNavWrapper .nav.navStyle1{border-bottom:none;max-width:870px;margin:0 auto;}
.buyTokenBox{margin:40px auto;width:600px;max-width:100%;text-align:center;}
.iconStyle{display:inline-block;}
.buyTokenBox h4{margin:50px 0 10px;font-size:18px;}
.buyTokenBox p{color:#b0aebb;margin-bottom:10px;}
a.links{color:#678cc0;font-weight:600;}
.whitePaper{font-weight:600;margin-top:10px;}
.grayColor{color:#b0aebb!important;}
.grayColor2{color:#888888!important;}
.innerTabContent .tab-pane{padding:30px 30px 30px 100px;}
/* .overviewBox{max-width:600px;} */
/*.innerTabWrapper{ border:1px solid #ddd; box-shadow: 0 4px 20px #e3dfdf;} */
.tokenList{margin:0;}
.tokenList li{float:left;width:33.33%;margin-bottom:15px;}
.tokenList li label{font-weight:600;}
.tokenList p{margin:0;color:#b0aebb;font-weight:600;}

.stepBox{text-align:center;}
.stepBox h4{margin:0 0 5px;font-size:16px;}
.stepBox strong{color:#45464b;}
.stepBox p{color:#b0aebb;margin-bottom:10px;}
.gColor{color:#28c3b3!important;}
.bColor{color:#3398dc!important;}
.dot{width:7px;height:7px;border-radius:100%;display:inline-block;}
.dot.dotlarge{width:15px;height:15px;}
.bgGreen{background-color:#28c3b3!important;}
.bgBlue{background-color:#3398dc!important;}
.bgPurple{background-color:#6165fa!important;}
.bgRed{background-color:#ff0b43!important;}
.pColor{color:#6165fa!important;}
.wColor{color:#fff!important;}
.rangeSlider{margin:50px auto;max-width:600px;}
.rangeSlider input[type="range"] {  margin: auto; -webkit-appearance: none; position: relative; overflow: hidden; height:20px; width:100%; cursor: pointer; border-radius:15px; }

.rangeSlider input::-webkit-slider-runnable-track {background: #199bef;}

.rangeSlider input::-webkit-slider-thumb { -webkit-appearance: none; width: 20px; height: 40px; background:#45e8d7; box-shadow: -100vw 0 0 100vw #6665ef; border: 2px solid #b3ffff; }

.rangeSlider input::-moz-range-track { height: 40px; background: #ddd; }

.rangeSlider input::-moz-range-thumb { background: #4de2dc; height: 40px; width: 20px; border: 3px solid #999; border-radius: 0 !important; box-shadow: -100vw 0 0 100vw #6665ef; box-sizing: border-box; }

.rangeSlider input::-ms-fill-lower { background: #6665ef;}

.rangeSlider input::-ms-thumb {  background: #4de2dc; border: 2px solid #999; height: 40px; width: 20px; box-sizing: border-box; }

.rangeSlider input::-ms-ticks-after { display: none; }

.rangeSlider input::-ms-ticks-before { display: none; }

.rangeSlider input::-ms-track {  background:#1a9bef; color: transparent; height: 40px; border: none; }

.rangeSlider input::-ms-tooltip { display: none;}
.font24{font-size:24px;}
.font22{font-size:22px;}
.font20{font-size:20px;}
.font18{font-size:18px;}
.font16{font-size:16px;}
.font13{font-size:13px;}
.priceSlider span{display:inline-block;}
.priceSliderTop,.hardCap{margin-left:auto;}
.priceSliderTop,.priceSliderBottom,.hardCap{width:100%;max-width:190px;text-align:center;}

.priceSliderMiddle{margin:35px auto;width:300px;max-width: 100%;position:relative;}
.priceSliderMiddle:before{content:"";background:#e6e6e6;position:absolute;left:50%;width:1px;height:130px;top:-49px;}
.priceSliderMiddle .slider { -webkit-appearance: none; width: 100%; height: 25px; background:#28c3b3; outline: none; opacity: 0.7; -webkit-transition: .2s; transition: opacity .2s; border-radius:25px; }

.priceSliderMiddle .slider:hover {opacity: 1;}

.priceSliderMiddle .slider::-webkit-slider-thumb {-webkit-appearance:none;appearance:none;width:23px;height:23px;background:#fff;cursor:pointer;border-radius:100%;}

.priceSliderMiddle .slider::-moz-range-thumb { width: 23px; height: 23px; background: #fff; cursor: pointer; border-radius:100%; }

.investCoinList{margin-bottom:30px;display:flex;}
.investCoinList li{padding:8px 10px;padding-left:40px;min-width:90px;border-radius:15px;font-weight:600;font-size:16px;position:relative;}
.investCoinList li + li{margin-left:10px;}
.investCoinList li.active{background: #28c3b3;color:#fff;}
.investCoinList li img{position:absolute;max-width:12px;left:15px;top:10px;}
.imgActive,.investCoinList li.active .imgNotActive{display:none;}
.investCoinList li.active .imgActive{display:inline-block;}
.bgCoin{display:inline-block;background-repeat:none-repeat;background-size:10px auto;position:absolute;left:10px;top:10px;} 

.amountFieldBox{position:relative;}
/* .amountFieldBox .form-control{padding-right:55px;} */
.amountFieldBox .form-control{padding-right:15px;}

.iconType{position:absolute;right:10px;top:8px;}
.biDirectionSign{text-align:center;}
.biDirectionSign img{max-width:20px;}
.head4{font-size:18px;margin-bottom:10px;font-weight: 600;color: #45464b;}
.tokenRemaining{display:flex;text-align:right;}
.tokenRemaining li + li{border-left:1px solid #727272;padding-left:7px;margin-left:7px;}
/* ============Footer========== */
.footerStyle{border-top:1px solid #ddd;}
.footerInner{padding:18px 0;}
.footerLogo{display:inline-block;width:55px;margin-bottom:15px;}
.footerInfo p{color:#b0aebb;}
.colorBlack{color:#45464b!important;}
.footerStyle h4{font-size:16px;margin:10px 0 15px;}
.footerMenuList{margin:0;}
.footerMenuList li + li{margin-top:10px;}
.footerMenuList li a{display:block;color:#b0aebb!important;text-decoration:none!important;}
.footerMenuList li a:hover,.footerMenuList li a:focus{opacity:0.8;}
/* ==============Modal============ */

.global-modal.modal.fade  .modal-dialog{margin-top:70px;
/* transform:translate(-50%,-50%);max-width:100%;position:absolute;left:50%;top:50%; */
}
.global-modal .modal-header{position:relative;border:none;padding:1rem;display:flex;}
.global-modal .modal-header .modal-title{border-bottom:none;padding-bottom:10px;font-size:18px;font-weight:600;}
.global-modal .modal-header .close { margin: 0 0 0; font-size: 34px; font-weight: 400; padding: 0; position: absolute; right: 15px; top: 18px; z-index: 9; height: 20px; width: 20px; line-height: 20px; color: #000; border-radius: 100%; font-family: arial; opacity: 1; }
.global-modal .modal-body {padding:15px 50px;}
.global-modal .modal-content{border-radius:4px;}
.global-modal .modal-title {font-weight:400;font-size:24px;}

.modal_flax_height{min-height:340px;}
.modal_flax_height270{min-height:270px;}
.weight600{font-weight:600!important;}
.weight500{font-weight:500!important;}
.modal_icon {margin-bottom: 20px;}
.modal_icon img{max-width: 50px;}
.box-title p { font-size: 14px; margin: 0; font-weight: 600; }
.copyText{position:relative;}
.copyText .form-control{height:50px;padding-right:55px;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;width:100%;}
.copyBtn { width: 48px; height: calc(100% - 2px); position: absolute; right: 0; top: 1px; border: none; border-radius: 0; font-size: 20px; }
/* =======Google Auth==== */
.qr-code-box { width: 100px; margin: 0 auto; }
.qr-code-box  span{display:inline-block;margin-bottom:7px;font-weight:600;}
.insert_qr_code {max-width:300px;margin:0 auto;}
.insert_qr_code li + li{margin-left:7px;}
.insert_qr_code li .form-control{border-radius:0!important;border:none;border-bottom:1px solid #333;padding:0!important;font-size:40px;text-align:center;
box-shadow:none!important;}



/* ======Modal End ======================*/


/*****************Amit*****************/
.mail-title {font-size:40px;color:#090909;;}
.email-body{background:#fff;box-shadow:0 0 15px #777;padding:40px;margin: 30px 0;}
.email-header{border-bottom: 1px solid #012c3f;padding: 0 10px;}
.mail-content-section {padding:40px 20px;}
.content-para p{font-size:15px;}
button.btn.btn-action {background: transparent;border: 1px solid #022c3c;border-radius: 0;
padding: 8px 26px 8px 14px;color: #022c3c;font-size: 13px;}
.btn-action i{border: 1px solid #022c3c;width:28px;height:28px;border-radius:50%;line-height:26px;margin-right: 10px}
.banner-logo{position: absolute;right: -10px;top: 0;border-left: 1px solid #000;height: 100%;padding-left: 12px;}
.selected-banner-block {position: relative;padding-right: 100px;min-height: 110px;margin: 40px 0;}
.banner-txt {background: #7c7c7c;min-height: 110px;color:#000;font-size: 24px}
.social-icons-listing li {list-style-type: none;display: inline-block;padding-right: 2px;}
.social-icons-listing li a{border: 1px solid #012c3f;border-radius: 50%;text-align: center;width: 32px;
  height: 32px;display: inline-block;line-height: 30px;}
.social-icons-listing li a i{color:#012c3f;}
.social-icons-block p{font-size:14px;color:#abacb1;padding-left: 15px;}
ul.social-icons-listing{margin:0;}
.footer-para p{font-size:14px;color:#abacb1;margin:0;}
.footer-content {position: relative;padding-left:120px;}
.footer-log {position: absolute;left: 0;top: 0;}
.email-footer{border-top:1px solid #012c3f;padding-top:20px;}

/*******night-mode***********/
body.night-mode{background: #141414;color: #c1c0c0;}
body.night-mode .email-body {background: #242424;box-shadow: 0 0 10px #000;}
body.night-mode .social-icons-listing li a {border: 1px solid #7fcdb7}
body.night-mode .social-icons-listing li a i {color: #7fcdb7;}
body.night-mode .social-icons-block p{color: #7fcdb7;}
body.night-mode .email-footer {border-top: 1px solid #777;}
body.night-mode .email-header{border-bottom: 1px solid #777;}
body.night-mode .mail-title {color: #fff;}
body.night-mode .banner-logo {border-left: 1px solid #777;}
body.night-mode button.btn.btn-action {border: 1px solid #7fcdb7;color: #7fcdb7;}
body.night-mode .btn-action i {border: 1px solid #7fcdb7;}

/******************Amit-END************************/

.select-custome{padding:0px 10px; color:#818181; border:1px solid #d8d8d8; background: transparent url(../images/arrow-icon.png)no-repeat scroll calc(100% - 10px) 50%/15px auto;}
.select-custome2{padding:0px 10px; color:#818181; border:1px solid #d8d8d8; background: transparent url(../images/down_arrow.png)no-repeat scroll calc(100% - 10px) 50%/15px auto;}
.select-custome3{padding:0px 10px; color:#818181; border:1px solid #d8d8d8; background: transparent url(../images/caret_arrow.png)no-repeat scroll calc(100% - 10px) 50%/22px auto;}
select.form-control.select-time{background:transparent url(../images/caret_arrow.png)no-repeat scroll calc(100% - 4px) 50%/18px auto; padding-right:25px; height:30px!important;}
.calender{background: transparent url(../images/icon-calender.png)no-repeat scroll calc(100% - 10px) 50%/22px auto;}
.calender2{background: transparent url(../images/icon-calender2.png)no-repeat scroll calc(100% - 10px) 50%/22px auto;}

.main-container {
  min-height: calc(100vh - 396px); padding-top: 50px; background: #ebecee;  padding-bottom:30px;
}
.robot-captcha{width:100%; max-width:320px; height:auto; margin:0 auto;}
span.error{color:#f00; font-size:12px;}

.main_content_box{display:flex; width:100%; min-height:100vh; border:1px solid #ddd; position:relative; overflow:hidden; transition:300ms;}
.left_content_box{min-width:320px;max-width:320px; background: #fff; padding: 15px; border-right:1px solid #ddd; overflow: hidden; /*overflow-y: auto;*/ transition:300ms;}
.right_content_box{width:100%; flex:1; background:#fff; transition:300ms; padding:20px;min-width:calc(100% - 320px);}
.card_menu{border:none; background:transparent;}
.card_menu .card-header{background:transparent; border:none; border-radius:0; padding:0;}
.card_menu a.btn-link{border-radius:0;white-space: normal; display:block; text-align:left; font-weight:600; padding: 17px 15px; text-decoration:none;}
.card_menu a.btn-link i{margin-right:5px;}
.card_menu a.btn-link.active, .card_menu a.btn-link.collapsed:hover{border-bottom-color:#28c3b3; color:#28c3b3;}
.card_menu a.btn-link.collapsed{border-bottom-color:rgba(0,0,0,.125); color:#474749;}

.filter_box{width:100%; padding:10px; border:1px solid #ddd; border-radius:2px;}
.filter_box h6 {    margin: 0 0 15px;
    font-weight: 600;
    color: #fff;
    margin-top: -22px;
    background: #6b6969;
    padding: 3px;
    width: 93px;
    text-align: center;    margin-left: 10px;
}
.filter-wrapper{display:flex; flex-wrap:wrap;}
.filter-wrapper label{display:flex; align-items:center;}
.filter-wrapper .form-control{flex:1; margin:0px 10px;font-size:14px;}

.table-common tbody tr td.pending i{color:#fd0; font-size:12px;}
.table-common tbody tr td.paid i{color:#0db14b; font-size:12px;}
.table-common tbody tr td .btn{font-size:12px;}
.table-common thead th{color: #fff;background: #17a394;}
.table-common td, .table-common th {
    padding: .60rem .75rem; font-size: 13px;
}

.common-heading{width:100%; padding:8px 15px; border-bottom:1px solid #ddd;}
.common-content{padding:15px;}
.common-content p{color:#727272; margin-bottom:25px;}
.blog_box{width:100%; min-height:150px;}
.blog_img{width:100px; width:150px; height:150px; border-radius:5px; float:left; margin-right:15px;}
.blog_box h4{color:#28c3b3;}

.card-faq-main{margin-top:15px;}
.card-faq{border:none;}
.card-faq + .card-faq{margin-top:10px;}
.card-faq .card-header{padding:0px; position:relative; border-bottom:none; background:#f2f2f2; border-radius:2px;}
.card-faq .card-header span{position:absolute; left:0px; top:0; width:40px; height:100%; line-height:44px; text-align:center; font-size:18px; font-weight:400; border-right:1px solid #d8d8d8;}
.card-faq .card-header .btn{text-align:left; background:transparent; color:#474749; font-weight:500; font-size:14px; padding:10px 50px 10px 15px; white-space:normal; border-bottom:none; border-radius:0;}
.card-faq .card-header .btn.collapsed{border-bottom:none;}
.card-faq .card-body{padding:12px; font-size:14px; border:1px solid #f2f2f2;}
.card-faq .card-body p{color:#5d5d5d;}
.card-faq .card-body p:last-child{margin-bottom:0;}
.card-faq .card-header .btn::before {
  content: "-";
  font-family:'Gill Sans MT Pro Bold';
  color:#28c3b3; font-size:36px;
  position:absolute; top:50%; right:15px;
  transform: translateY(-50%); -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%);
}
.card-faq .card-header .btn.collapsed::before {
  content: "+";
  font-family:'Gill Sans MT Pro Bold';
  color:#28c3b3; font-size:24px;
  position:absolute; top:50%; right:15px;
  transform: translateY(-50%); -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%);
}
.card-faq .card-header .btn::after{content:''; position:absolute; right:40px; top:9px; width:1px; height:26px; background:#a9a9a9;}
.contact-form input.form-control{height:48px; font-size:14px; border-color:#d8d8d8; border-radius:4px;}
.contact-form textarea.form-control{height:48px; font-size:14px; border-color:#d8d8d8; border-radius:4px; resize:none;}

.contact-box{width:100%; height:100%; background-image:url(../images/contact-us.jpg); background-repeat:no-repeat; background-size:cover; background-position:center center; padding:15px;}
.contact-us{min-height:130px; display:flex; flex:wrap; align-items:center; background:rgba(40, 195, 179, 1.0); padding:15px; border-radius:2px;}
.contact-us .deatil{display:flex; color:#fff; font-weight:600; font-size:16px;}
.contact-us .deatil label{padding-right:10px; font-weight:900;}
.social_box{background:rgba(40, 195, 179, 1.0);}
.social_box a{color:#fff; font-size:36px; padding:0px 5px;}
.social_box a:hover{color:#444;}

/****** Account profile *******/
.user_img_box{width:150px; height:150px; margin:0 auto; border:1px solid #ddd; border-radius:8px; overflow:hidden; position:relative;}
.user_img_box img{width:100%; height:100%;}
label.camera_box{position:absolute; right:6px; bottom:6px; width:34px; height:34px; background:#fff; color:#28c3b3; font-size:20px; border-radius:50%; text-align:center; overflow:hidden; display:flex; align-items:center; justify-content:center; margin-bottom:0;}
label.camera_box input[type="file"]{opacity:0; position:absolute; width:100%; height:100%;}

.account-form input.form-control{height:44px; font-size:14px; border-color:#d8d8d8; border-radius:4px;}
.account-form select.form-control{height:44px; font-size:14px; border-color:#d8d8d8; border-radius:4px;}
.account-form select.form-control:not([size]):not([multiple]){height:44px;  width: 100%;}
.account-form textarea.form-control{height:44px; font-size:14px; border-color:#d8d8d8; border-radius:4px; resize:none;}
.profile_heading {border-bottom:1px solid #ddd; text-align:center; color:#474749; padding-bottom:15px; margin-bottom:20px;}
.social_profile{display:flex; align-items:center; justify-content:center; min-width:36px; max-width:36px; height:36px; border-radius:50%; background:#28c3b3; color:#fff; font-size:22px; margin-left:15px;}
.social_profile:hover{color:#fff; background:#474749; text-decoration:none;}


.token_receipt_box{width:100%; height:80px; background:#fff; box-shadow:0px 0px 5px rgba(0,0,0,0.1); cursor:pointer; border-radius:8px; color:#28c3b3; margin-bottom:10px;}
.token_receipt_box i{font-size:24px;}
.token_receipt_box p{margin:0;}
.token_receipt_box:hover{background:#f1f1f1;}
.account-form .custom-file-input:lang(en) ~ .custom-file-label::after{content:'Upload'}

/*.graph_main{display:flex; width:100%; justify-content:space-between;}*/
.graph_main .graph_box{width:calc(50% - 10px); min-height:300px; border:1px solid #ddd; border-radius:4px; padding:10px;}

/********************Amit-new***************/

.singin-block{padding:30px 40px;}
.login-body h6{margin: 0;padding: 16px 0;text-align:center;border-bottom: 1px solid #28c3b3;font-size: 17px;}
.txt-underline{text-decoration:underline;}
.autotabbed input {
    width: 15%;
    border-radius: 4px;
    padding: 5px;
    text-align: center;
    background: #f8f8f8;
    height: 50px;
    border: 1px solid #e1dcdc;
    color: #727272;
    font-size: 14px;
    font-family: arial;
}
.user-panel .image {
    position: relative;
    width: 70px;
    height: 70px;
}
.user-panel>.info {
    padding: 5px 5px 5px 10px;
    line-height: 1;
    width: calc(100% - 70px);
    height: 70px;
}
.user-panel .image img {
    width: 100%;
    height: 100%;
    border-radius:50%;
}
.online-icon {
    position: absolute;
    bottom: 0px;
    display: inline-block;
    height: 18px;
    width: 18px;
    line-height: 16px;
    right: -1px;
    border: 2px solid #fff;
    border-radius: 50%;
    font-weight: 600;
}
.user-panel .info h4 {
    font-size: 15px;
    margin: 0 0 4px;
    font-weight: 600;
}
.user-panel .info h5 {
    margin: 0 0 4px;
    font-size: 13px;
    word-break: break-all;
}

.user-panel {
    padding: 10px 15px;
}
.pull-left {
    float: left!important;
}

.common_ack a {
    position: relative;
    font-size: 18px;
    text-decoration: none!important;
    color: #fff;
}
.common_ack .badge {
    background: #5ed497;
    border: none;
    width: 15px;
    height: 15px;
    color: #fff;
    border-radius: 50%;
    line-height: 15px;
    text-align: center;
    position: absolute;
    right: -4px;
    top: -1px;
    font-size: 11px;
    padding: 0;
    display: inline-block;
}
.common_ack .dropdown-toggle:after {
    border: none;
    margin: 0;
    padding: 0;
}
.dropdown_list li{font-size:13px;}
.dropdown_list li p{margin:0;border-bottom: 1px solid #ddd;
    padding: 12px 0;}
.notify_ack.common_ack.dropdown {
    display: inline-block;
    padding-right: 20px;
}
.notify_ack .dropdown-menu{min-width: 16rem;}
.profile-pic {
    text-align: center;
    padding-top: 27px;
  }
.dash_list li {
    width: calc(33.3% - 20px);
    padding: 20px 15px;
    border: 0px solid rgb(251, 251, 251);
    margin: 10px 10px 20px;
    border-radius: 5px;
    color:#fff;
   background: #bdc3c7;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.dash_list li h2 {
    font-size: 20px;
    margin: 0 0 20px;
}

.dash_list li h4 {
    font-size: 1.4rem;
}
.filter_search .form-control {
    border: 1px solid #d8d8d8;
    background: #fff;
    font-size:14px;
}
.filter_search .btn_search_group {
    border-left: none!important;
    background: #fff;
    font-size: 13px;
    border: 1px solid #d8d8d8;
}
.btn_search_group img {
    width: 16px;
    height: auto;
}
.show-txt select.form-control {
    width: 48px;
    display: inline-block;
    min-width: auto;
    height: 32px!important;
}
.show-txt .select-custome3{background: transparent url(../images/caret_arrow.png)no-repeat scroll calc(100% - 5px) 50%/14px auto;}
.action_td_btn3 a{padding:8px;}
.action_td_btn3 a .fa-ban{color:#ff0000;}
.action_td_btn3 a:hover{color:#007bff;}
.global-fieldset legend {
    font-size: 16px;
    margin-bottom: 0px;
    padding: 0px 8px;
    background-color: transparent;
    display: inline-block;
    color: #000;
    width: auto;
    border: none;
    border-radius: 0;
}
fieldset.global-fieldset {
    border: 1px solid #ddd;
    margin: 0 0 15px;
    padding: 10px;
    position: relative;
    border-radius: 4px;
    background-color: #fff;
    padding-left: 10px;
    border-radius: 0;
    background:#f8f8f8;
}
.mrgn-0-auto {
    margin: 0 auto;
}
.fontbold{font-weight:600;}
textarea.form-control{height: 44px;
    font-size: 14px;
    border-color: #d8d8d8;
    border-radius: 4px;
    resize: none;
}
.custom-pagination ul.pagination {
    display: inline-flex;
}
.custom-pagination a.page-link {
    color: #000;
}
.custom-pagination .page-link:hover {
    color: #fff;
    background-color: #28c3b3;
    border-color: #28c3b3;
}
.setting-page ul li {
    margin: 0 0 20px;
    padding: 0 10px 15px;
    border-bottom: 1px solid #ccc;
}
.setting-page ul li h5 {
    color: #333;
    font-size: 17px;
}
.setting-page ul li a {
    display: inline-block;
    width: 39px;
    height: 39px;
    line-height: 11px;
    font-size: 24px;
    text-align: center;
    background: #28c3b3;
    color: #fff;
    padding: 8px;
    border-radius: 50%;
    margin-top: -3px;
}
.pull-right {
    float: right;
}
.f-left {
    float: left;
}
.setting-page {
    padding: 30px 20px;
}

.setting-page-admin {
    padding: 5px 5px;
}
.upload-label {
    position: absolute;
    right: -15px;
    bottom: -6px;
    width: 30px;
    height: 30px;
    background: #fff;
    text-align: center;
    margin: 0px;
    line-height: 20px;
    font-size: 17px;
    border-radius: 50%;
    padding: 3px;
    box-shadow: 0 0 10px #999;
    color: #28c3b3;
}
.upload-label i{font-size:13px;}
.upload-label input {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 24px;
    opacity: 0;
}
.logo-edit{position:relative;}
.web-logo {
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0 0 5px #777;
}
.image-name {
    padding: 10px;
    color: #000;
    max-width: 170px;
    border: 1px solid #ddd;
    border-radius: 2px;
}
span.error {
    color: red;
    display: block;
    margin: 5px 0px
}


/*shubham-new*/
.tab-inner-sec{padding:20px 10px;}
.formsetup .common-label{font-weight:bold;margin:0 0 5px;}
.formsetup label.redio-design,.formsetup label.checkbox-design{color:#212529!important;font-size:14px;margin:0 0 20px;}
.formsetup .redio-design input[type="radio"] ~ span{top:3px;}
.input-blockbox{position:relative;padding-left:50px;}
.ques-block{min-width: 36px; max-width: 36px; height: 36px; border-radius: 50%; background: #28c3b3; color: #fff; font-size: 18px; width: 100%; display: inline-block; text-align: center; line-height: 37px; position: absolute; left: 0;}
.input-blockbox.add-mainblock{padding-right:100px;}
.add-block{min-width: 36px; max-width: 36px; height: 36px; border-radius: 50%; background: #28c3b3; color: #fff; font-size: 18px; width: 100%; display: inline-block; text-align: center; line-height: 37px; position: absolute; right: 0;    top: -1px;}


/***********Amit*************/

.dashboard_body .dash_list li{width: calc(50% - 20px);height: 180px;
    -webkit-box-align: center!important;
    -ms-flex-align: center!important;
    align-items: center!important;
  width: calc(50% - 20px);
    height: 180px;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    position:relative;}
.dashboard_body .dash_list li *{width:100%;}
.dashboard_body .dash_list li img{position:absolute;width:auto;left:20px;}
.addmore {
    color: #28c3b3;
    font-size: 15px;
}
.detail-attachment {
    font-size: 40px;
}
.left-supportblock .filter_search {
    width: 200px;
}
/* .left-supportblock {
    height: 700px;
    overflow-y: auto;
    width: 400px;
} */
.ticketcheckblock {
    border: 1px solid #ddd;
    padding: 15px;
    margin: 0 0 20px;
}
.ticktingleftinner {
    height: 520px;
    overflow-y: auto;
}
.ticketcheckblock p {
    margin: 0 0 10px;
}
.ticketcheckblock span.green {
    background: green;
}
.ticketcheckblock span {
    display: inline-block;
    width: 15px;
    height: 15px;
    border: 1px solid #999;
}
.ticketcheckblock label {
    padding-left: 10px;
    margin: 0px;
    vertical-align: middle;
    margin-top: -9px;
}
.ticketcheckblock span.red {
    background: red;
}

/* .formsetup {height: 570px;overflow-y: auto;padding: 0 20px;} */
.ticket-rightpannel{ padding: 30px 10px;border: 1px solid #ddd;}
.left-chat-block {
    margin: 0 0 40px;
}
.chat-imgblock {
    position: relative;
    padding-left: 60px;
    min-height: 40px;
}
.chat-imgblock img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    left: 0px;
    top: 0px;
}
.chat-imgblock p {
    color: #000;
    font-weight: 600;
}
.left-chat-block .text-box {
    background: #eee;
    padding: 15px;
}
.chat-imgblock p span {
    color: #999;
    margin-left: 10px;
    font-weight: 400;
}
/*.filter_box .form-main {
        -webkit-box-pack: center!important;
    -ms-flex-pack: center!important;
    justify-content: center!important;
}*/
.table-common td {
    background: #f8f8f8;
}
table.table.table-bordered.table-common {
    margin-bottom: 0;
}
.dropdown_list li p:last-child {
    border: 0;
}
.amountFieldBox label{    color: #212529;
    font-weight: 600;
}
.right_content_box  .card {
    background: #f8f8f8;
}
.box-cover {
    width: 100%;
    padding: 20px 10px 0;
    border-radius: 2px;
    box-shadow: 0 0 5px #a59595;
    margin-bottom:30px;
}
.attachment-label h6{font-size:15px;}
.notify_ack.common_ack .dropdown-menu {
    left: auto;
    right: 0;
}
.edit-icon{color:#777;}
td .btn-sm {
    min-width: 65px;
}

.left_content_box{ position: absolute; height: 100%; z-index: 10;margin-left:0;overflow-y: auto;}
.left_content_box.show_slide{margin-left:-320px;}
.menu_toggle_box{opacity:1; visibility:visible; backface-visibility:visible;}

.right_content_box{padding-left: 340px;}
.right_content_box.right_slide{padding-left:20px;}
.setuptab-block .input-blockbox {padding-left: 0;}
.setuptab-block ul.nav.nav-tabs{background:#ebebeb;border:none;}
.setuptab-block .innerTabContent .tab-pane{margin-top: 30px;border-radius: 3px;border: 1px solid #ddd;}
.login-container{min-height: calc(100vh - 118px);}
.chat-comment-box {
    position: relative;
    border: 1px solid #ccc;
    border-radius: 3px;
}
.chat-comment-box .form-control {
    border: 0;
}
.btn.send-chat-btn {
    position: absolute;
    right: 5px;
    bottom: 0;
    color: #222;
    background: none;
    box-shadow: none;
    padding: 3px 6px;
    font-size: 18px;
}


.card_menu a.btn-link {
color: #474749;
border-bottom-color: rgba(0,0,0,.125);
}
.card_menu a.btn-link:hover {
color: #28c3b3;
}




.account-form select.form-control:not([size]):not([multiple]) {
    height: 44px;
    width: 100%;
}
.left-supportblock{
    height: 650px; overflow-y: auto;width: 400px;
}

.user-profile .image-box {
    position: relative;
    width: 100px;
    height: 100px;
    margin: 0 auto 20px;
    position: relative;
}

.user-profile .image-box img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.user-profile .image-box .upload-label {
    position: absolute;
    right: -7px;
    bottom: 10px;
    width: 30px;
    height: 30px;
    background: #fff;
    text-align: center;
    margin: 0px;
    line-height: 28px;
    font-size: 17px;
    border-radius: 50%;
    padding: 3px;
    box-shadow: 0 0 10px #999;
    color: #2fa0d4;
}

.user-profile .image-box .upload-label input {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 24px;
    opacity: 0;
}