{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="initial-scale=1.0, minimum-scale=1.0, width=device-width">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Record Management</title>
  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/style.css' %}" rel="stylesheet">
  <link href="{% static 'css/text-editor.css' %}" rel="stylesheet">
  <link href="{% static 'css/global.css' %}" rel="stylesheet">
  <link href="{% static 'css/mobile.css' %}" rel="stylesheet">
  <link href="{% static 'css/spinner.css' %}" rel="stylesheet">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <!-- Toastr -->
  <link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
  <script type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
</head>
<body class="logged">
  <div id="overlay">
    <div class="cv-spinner">
      <span class="spinner"></span>
    </div>
  </div>
  <header class="landing_header header_fixed_menu">
    <div class="menu_toggle_box" style="display: none;">
      <button type="button" class="btn btn-menu" id="toggle_slide_button">
        <i class="fas fa-bars"></i>
      </button>
    </div>
    <div class="container-common">
      <nav class="navbar navbar-expand-md  align-items-center">
        <a class="navbar-brand logo" >
          <img src="{% static 'images/bitcoin_icon.png' %}" alt="Logo" />
        </a>

        <div class="menu-box ml-auto">
          <div class="user_top_box clearfix">
            <img src="{% static 'images/user.png' %}" class="img-circle" alt="User Image">
            <strong class="user_top_name">Aftab Hussain</strong>
            <div class="dropdown-menu head-drop-down">
              <div class="dropDownProfileBox">
                <h4>aftab4evr</h4>
                <p>aftab4evr786gmail.com</p>
              </div>
              <a class="dropdown-item" style="cursor: pointer;" onclick="handelMenuAddRecord()">Add record</a>
              <a class="dropdown-item" style="cursor: pointer;">Your Account</a>
              <a class="dropdown-item" href="#logOutModal" data-toggle="modal">Logout</a>
            </div>
          </div>
        </div>
      </nav>
    </div>

  </header>
  <!-- Header End -->

  <!-- main Start -->
  <main class="main-container">
    <div class="container-common">
      <div class="main_content_box">
        <div class="left_content_box" id="toggle_slide">
          <div class="left_menu_box" id="accordion">
            <div class="user-panel clearfix">
              <div class="pull-left image">
                <img src="{% static 'images/user.png' %}" class="img-circle" alt="User Image">
                <a href="#" class="online-icon"><i class="fa fa-circle text-success"></i></a>
              </div>
              <div class="pull-left info d-flex align-items-center flex-wrap">
                <h4 class="w-100 d-block mb-0">Aftab Hussin</h4>
                <h5>Admin</h5>
              </div>
            </div>
            <div class="card card_menu">
              <div class="card-header" id="heading3">
                <h5 class="mb-0">
                  <a class="btn btn-link" id="dashboard" onclick="handeMenuDashboard()"><i
                      class="fas fa-exchange-alt"></i>Dashboard</a>
                </h5>
              </div>
            </div>
            <div class="card card_menu">
              <div class="card-header" id="heading3">
                <h5 class="mb-0">
                  <a class="btn btn-link" id="add-record" onclick="handelMenuAddRecord()"><i class="fas fa-users"></i>Add Record</a>
                </h5>
              </div>
            </div>
      
            <div class="card card_menu">
              <div class="card-header" id="heading5">
                <h5 class="mb-0">
                  <a class="btn btn-link " href="#logOutModal" data-toggle="modal"><i
                      class="fas fa-power-off"></i>Logout</a>
                </h5>
              </div>
            </div>
          </div>
        </div>
        {% block content %}{% endblock %}
      </div>
    </div>
  </main>
  <div class="modal fade global-modal" id="logOutModal">
    <div class="modal-dialog max-WT-450">
      <div class="modal-content">
        <div class="modal-header justify-content-center pb0">
          <h4 class="modal-title pb0">Logout</h4>
        </div>
        <hr>
        <div class="modal-body pt0">
          <div class="row align-items-center min-ht-200">
            <div class="col">
              <div class="form-box">
                <div class="form-group text-center">
                  <img src="{% static 'images/l1.png' %}" height="100"
                    width="100" alt="images" />
                  <p class="mTB30 font-16">Are you sure you want to logout?</p>
                </div>
                <div class="action-btn text-center">
                  <a  class="btn max-WT-100 btnGreen mr5 pTB10">Yes</a>
                  <button type="button" class="btn max-WT-100 btnGray mt0 pTB10" data-dismiss="modal">No
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
  <script src="{% static 'js/popper.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'js/datepicker.js' %}"></script>
  <script src="{% static 'js/bootstrap-multiselect.js' %}"></script>
  <script src="{% static 'js/common.js' %}"></script>
  <script src="{% static 'js/notification.js' %}"></script>
  <script src="{% static 'js/datepicker.js' %}"></script>

  <script>
    $(document).ready(function () {
      $("#overlay").fadeIn(300);
      const url = window.location.pathname.split('/')[1]
      const uuid=window.location.pathname.split('/')[2]
       if(url == 'add'){
        $("#add-record").addClass("active");
        handlPages('/get-add-record')
       }else if(url == 'edit' && uuid !=' '){
        handlPages('/get-edit-record/'+uuid)
       } else if(url == 'view' && uuid !=' '){
        handlPages('/get-view-record/'+uuid)
       }else{
        history.pushState({
                id: 'homepage',
            }, 'Get Record', '/');
        $("#dashboard").addClass("active");
        handlPages('/get-record')
         
       }
    });

    window.addEventListener('popstate', function (event) {
      $("#overlay").fadeIn(300);
      if(history.state){
        if(history.state.id=='add'){
          handlPages('/get-add-record')
        }else if(history.state.id == 'edit'){
          handlPages('/get-edit-record/'+history.state.uuid)
        }
        else if(history.state.id == 'view'){
          handlPages('/get-view-record/'+history.state.uuid)
        }
        else if(history.state.id == 'homepage'){
        handlPages('/get-record')

        }
      }else{

        handlPages('/get-record')
      }
    }, false);
    function handelDelete(uuid){
      $("#overlay").fadeIn(300);
      $("#deleteUserModal_"+uuid).modal('hide');
      $('.modal-backdrop').removeClass('modal-backdrop fade show')
      $.ajax(
          {
              type: "GET",
              url: "/delete-record/"+uuid,
              success: function (data) {
                  $("#deleteUserModal_"+uuid).modal('hide');
                  handelHomePageData()
              },

          })
       

        }
    function handelHomePageData(){
      $("#overlay").fadeIn(300);

      $("#root").empty();
      handlPages('/get-record')
    }

    function switchAddrecordPage(){
      $("#overlay").fadeIn(300);

      $("#root").empty();
        history.pushState({
            id: 'add'
        }, 'Add Record', '/add');
      handlPages('/get-add-record')
    }

    function switchEditPage(uuid){
      $("#overlay").fadeIn(300);

      $("#root").empty();
      history.pushState({
            id: 'edit',
            uuid:uuid
        }, 'Edit Record', '/edit/'+uuid);
        handlPages('/get-edit-record/'+uuid)
    }


    function switchViewPage(uuid){
      $("#overlay").fadeIn(300);

      $("#root").empty();
        history.pushState({
            id: 'view',
            uuid:uuid
        }, 'Add Record', '/view/'+uuid);
        handlPages('/get-view-record/'+uuid)
    }

    function handlPages(url){
      $("#root").empty();
      $.ajax({
          type: "GET",
          url: url,
          success: function (data) {
            $("#root").append(data.data);
            $("#overlay").fadeOut(300);
          },
         
          error: function (jqXHR, textStatuse, errorThrown) {
            alert('Invaid uuid')
            history.pushState({
                id: 'homepage',
            }, 'Get Record', '/');
            $("#overlay").fadeOut(300);

            handlPages('/get-record')
            }
      })

    }


    function handelAddRecord(){

      const name = $("#id_name").val()
      const email = $("#id_email").val()
      const phone = $("#id_mobile").val()
      const gender = $("input[name='gender']:checked").val();
      if (isNumberValid && isNameValid && isEmailValid){
        $("#overlay").fadeIn(300);

        $.ajax(
                {
                    type: "POST",
                    url: "/add-record",
                    data:{
                      name:name,
                      email:email,
                      mobile:phone,
                      gender:gender,
                      csrfmiddlewaretoken: '{{ csrf_token }}'

                    },
                    success: function (data) {
                         $("#id_error").hide()
                        window.history.pushState("", "", '/');
                        handelHomePageData()
                    },
                    error: function (jqXHR, textStatuse, errorThrown) {
                      if(jqXHR.responseJSON.response_message){
                        $("#id_error").html(jqXHR.responseJSON.response_message).show()
                      }else{
                        $("#id_error").html("something went wrong").show()
                        
                      }
                      $("#overlay").fadeOut(300);
                    },
                    

                })

      }
    }


    function handelEditRecord(uuid){
      const name = $("#id_name").val()
      const email = $("#id_email").val()
      const phone = $("#id_mobile").val()
      const gender = $("input[name='gender']:checked").val();

      if (isNumberValid && isNameValid && isEmailValid){
        $("#overlay").fadeIn(300);

        $.ajax(
                {
                    type: "POST",
                    url: "/edit-record",
                    data:{
                      name:name,
                      uuid:uuid,
                      email:email,
                      mobile:phone,
                      gender:gender,
                      csrfmiddlewaretoken: '{{ csrf_token }}'

                    },
                    success: function (data) {
                        window.history.pushState("", "", '/');
                        handelHomePageData()


                    },
                    error: function (jqXHR, textStatuse, errorThrown) {
                      $("#id_error").html("Something wen wrong.").show()
                      $("#overlay").fadeOut(300);
                    }

                })

      }
    }
function getUlr(){
  return window.location.pathname.split('/')[1]
}
function handeMenuDashboard(){
  if (getUlr() !=''){
    $(".active").removeClass("active");
    $("#dashboard").addClass("active");
    history.pushState({
                id: 'homepage',
            }, 'Get Record', '/');
    handlPages('/get-record')
    
  }
}

function handelMenuAddRecord(){
  if (getUlr() !='add'){
    $(".active").removeClass("active");
    $("#add-record").addClass("active");
    switchAddrecordPage()
  }

}

  </script>
</body>
</html>